<% provide(:title, 'About') %>

<center>
  <h1>About the app TestGuru</h1>
  <p style="font-size: 20px">
    The TestGuru application is designed to create, manage and run various tests.<br>
    The application is an educational project of an online school
    <%= link_to 'Thinknetica', "https://thinknetica.com/", target: '_blank', rel: 'nofollow' %>
  </p>
  <img width=600px src="https://static.tildacdn.com/5d8f0d6b-4de8-4527-bd2e-56ea4400c1c9/thinknetica_transparent_grey_with_slogan.png" alt="Thinknetica">
</center>
