<% provide(:title, 'Author') %>

<center>
  <h1>About me</h1>
  <p style="font-size: 20px">
    Hi! My name is Oleg, I am a beginner developer in Ruby!<br>
    I am currently a student at the online school 
    <%= link_to 'Thinknetica', "https://thinknetica.com/", target: '_blank', rel: 'nofollow' %>
    <br>
    Here is my profile on
    <%= link_to 'Github', "https://github.com/Oleg-Y-Novikov/", target: '_blank', rel: 'nofollow' %>
  </p>
</center>


