<div class="center">
  <h1><%= answer_header %></h1>
  <%= button_to t('admin.answers.show_all_answers'), admin_question_path(@answer.question),
                                                    method: :get, class: 'btn btn-primary' %>
</div>

<%= render 'form' %>

