<% provide(:title, t('page_tests.edit_test')) %>

<div class="center">
  <h1><%= test_header %></h1>
  <%= button_to t('admin.tests.show_all_tests'), admin_tests_path, method: :get, class: 'btn btn-primary' %>
</div>

<%= render 'form' %>
